body{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.main_div{
    background-color: aqua;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.main_div input{
    margin-right: 10px;
    border-radius: 3px;
}

.rem_list{
    background-color: rgb(239, 119, 119);
    border-radius: 5px;
}

.rem_div{
    padding: 2px;   
    width: fit-content;
}

.rem_div li{
    width : fit-content;
    padding: 2px;   
}

.rem_btn{
    margin-left: 2px;
    background-color: green;
}

.finished-container{
    background-color: green;
    border-radius: 5px;
}

.finished-container li{
    padding: 2px;   
    width: fit-content;
}

.finished-container button{
    margin-left: 2px;
    background-color: rgb(254, 90, 90);
}

.task_count_div{
    display: flex;
    flex-direction: row;
    gap: 2px;
}